.div1 {
    width: 300px;
    height: 100px; 
    border: 2px solid violet;
    box-sizing: border-box;   
    text-indent: 35px;
}

.div2 {
    width: 300px;
    height: 100px; 
    border: 2px solid olive;
    padding: 50px;
    box-sizing: border-box;   
}


